* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    color: #22202E;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.logo a {
    text-decoration: none;
    color: #22202E;
}
header {
    height: 80px;
    border-bottom: 1px solid #EBE8F4;
}
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list {
    display: flex;
    list-style: none;
}
.nav-listitem {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 29px;
    padding-bottom: 29px;
    color: #726E8D;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.nav-listitem a {
    text-decoration: none;
    color: #726E8D;
}
.user-menulist {
    display: flex;
    list-style: none;
}
.user-menulistitem {
    padding-left: 8px;
    padding-right: 8px;
}
.header-listing {
    padding-top: 80px;
    padding-bottom: 24px;
    text-align: center;
    color: #2A254B;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.user-menulistitem {

}
.filtermenu-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-menulist {
    display: flex;
    list-style: none;
}
.filter-menulistitem {
    padding-bottom: 24px;
    padding-right: 20px;
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.select {
    background-color: white;
    border: none;
    height: 48px;
}
.sorting-menulist {
    padding-bottom: 24px;
    list-style: none;
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.listing-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    column-gap: 20px;
}
.img {
    padding-bottom: 12px;
    padding-top: 24px;
}
.titletext {
    color: #2A254B;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.listings-middlecardsitem a {
    text-decoration: none;
    color: #2A254B;
}
.pricetext {
    padding-top: 4px;
    padding-bottom: 24px;
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}
.view-button{
    padding-top: 24px;
    padding-bottom: 10px;
    display: block;
    text-align: center;
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.view-button button {
    width: 175px;
    height: 56px;
    background-color: #F9F9F9;
    border: none;
}
.view-button button:hover {
    background-color: #a8a6a6;
}
.email-signup {
    padding-top: 10px;
    display: flex;
    justify-content: start;
    padding-left: 0;
}
.imgmail {
    margin-left:auto;
    width: 745px;
    height: 521px;
    background-image: url("../img/join-background.png");
    background-size: cover;
}

.emailheader {
    padding-left: 49px;
    padding-top: 57px;
    color: #2A254B;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.emailtext {
    padding-left: 49px;
    padding-top: 21px;
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.signupbtn{
    position: relative;
    right: 0px;
    left: 50px;
    top: 240px;
    width: 120px;
    height: 56px;
    background-color: #2A254B;
    border: none;
    color: #FFF;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.signupbtn:active {
    background-color: #3f2d9d;
}
#email {
    position: relative;
    right: 0px;
    left: 50px;
    top: 240px;
    height: 56px;
    width: 350px;
}
footer {
    height: 380px;
    background-color: #2A254B;
}
.footer-wrap {
    display: flex;
    justify-content: space-between;
}
.footer-wrap img {
    padding-top: 58px;
}
.footer-list {
    padding-top: 58px;
}

.footer-list h2 {
    color: #FFF;
    padding-bottom: 6px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer-list ul {
    list-style: none;
}
.footer-list ul li {
    padding-top: 6px;
    padding-bottom: 6px;
    color: #FFF;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer-list ul li a {
    text-decoration: none;
    color: #FFFFFF;
}
.extrafooter-wrap {
    margin-top: 57px;
    padding-top: 24px;
    border-top: 1px solid #4E4D93;;
    display: flex;
    justify-content: space-between;
}
.extrafooter-wrap p {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.extrafooter-wrap ul {
    display: flex;
    list-style: none;
}

.extrafooter-wrap ul li {
    padding-left: 24px;
}